---
import data from "../config/config.json";
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCIE = data.experience;
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.slice(0, 3).map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
