---
const currentYear = new Date().getFullYear();
const url = 'https://github.com/Alfonso12Dev';
---

</br>

<footer
  class="rounded-lg shadow m-4 bg-black/5 dark:bg-black/20 backdrop-blur-lg w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center mt-16"
>
  <div
    class="w-full max-w-screen-xl mx-auto flex flex-col items-center text-center md:flex-row md:justify-between"
  >
    <span class="text-sm text-zinc-800/90 dark:text-zinc-200/90 w-full"
      >© {currentYear}
      <a href={url} class="hover:underline">HeatherDev</a>. Especial agradecimiento a <a href="https://github.com/midudev/" class="hover:underline">Midudev</a>
    </span>
    <ul
      class="flex flex-wrap justify-center items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
    >
    </ul>
  </div>
</footer>
